<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head")  %> 
</head>
<body>
    
    <%- include("../partials/nav")  %> 

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12 mt-3">
                <h2 style="color: skyblue;">Bilinmeyen bir hata oluştu. Lütfen tekrar deneyiniz.</h2>               
            </div>
        </div>
    </div>
  
</body>
</html>



